* {
    box-sizing: border-box;
  }
  
  html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
  }
  
  body {
    padding: 0 0 1em;
    width: 100%;
    text-align: center;
  }
  
  main {
      width: 50rem;
      margin: 0 20rem;
      padding: 0 2rem;
  }